N3/ApiradorNodeRed.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Simulação Robô Aspirador",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4b3c2a1.e5f6",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/dados-robo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "a1b2c3d4.e5f6",
                "b2c3d4e5.f6a7"
            ]
        ]
    },
    {
        "id": "a1b2c3d4.e5f6",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "b2c3d4e5.f6a7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Roteador de Dados",
        "func": "if (msg.payload.summary) {\n    return [null, msg];\n}\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "c3d4e5f6.a7b8",
                "d4e5f6a7.b8c9",
                "e5f6a7b8.c9d0",
                "f6a7b8c9.d0e1",
                "a7b8c9d0.e1f2",
                "b8c9d0e1.f2a3",
                "c9d0e1f2.a3b4"
            ],
            [
                "d0e1f2a3.b4c5"
            ]
        ]
    },
    {
        "id": "c3d4e5f6.a7b8",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "e1f2a3b4.c5d6",
        "name": "Mapa da Arena",
        "order": 1,
        "width": 12,
        "height": 12,
        "format": "<div style=\"display: flex; justify-content: center; align-items: center;\">\n    <canvas id=\"arenaCanvas\" width=\"600\" height=\"600\" style=\"border: 2px solid #333; background-color: #f0f0f0; border-radius: 50%;\"></canvas>\n</div>\n\n<script>\n(function(scope) {\n    const canvas = document.getElementById('arenaCanvas');\n    const ctx = canvas.getContext('2d');\n    const SCALE = 14; // Pixels per meter (approx)\n    const CENTER = 300;\n    const ROBOT_SIZE = 0.2 * SCALE;\n    \n    // Trajectory buffer\n    let trajectory = [];\n    const MAX_TRAJ = 500;\n\n    scope.$watch('msg', function(msg) {\n        if (!msg || !msg.payload) return;\n        \n        const data = msg.payload;\n        \n        // Clear canvas\n        ctx.clearRect(0, 0, canvas.width, canvas.height);\n        \n        // Draw Arena Boundary\n        ctx.beginPath();\n        ctx.arc(CENTER, CENTER, 100 * 0.2 * SCALE, 0, 2 * Math.PI);\n        ctx.strokeStyle = '#999';\n        ctx.lineWidth = 2;\n        ctx.stroke();\n        \n        // Draw Obstacles\n        if (data.obstacles && data.obstacles.length > 0) {\n            data.obstacles.forEach(obs => {\n                const ox = CENTER + obs.x * SCALE;\n                const oy = CENTER - obs.y * SCALE;\n                \n                if (obs.type === 'cyl') {\n                    ctx.fillStyle = '#00b500'; // Green\n                    ctx.beginPath();\n                    ctx.arc(ox, oy, obs.r * SCALE, 0, 2 * Math.PI);\n                    ctx.fill();\n                } else if (obs.type === 'box') {\n                    ctx.fillStyle = '#800080'; // Purple\n                    const w = obs.w * SCALE;\n                    const h = obs.h * SCALE;\n                    ctx.fillRect(ox - w/2, oy - h/2, w, h);\n                }\n            });\n        } else if (data.occupancy_map && data.occupancy_map.length > 0) {\n            const size = Math.sqrt(data.occupancy_map.length);\n            const cellSize = (2 * 100 * 0.2 * SCALE) / size;\n            ctx.fillStyle = 'rgba(100, 100, 100, 0.5)';\n            \n            for (let i = 0; i < data.occupancy_map.length; i++) {\n                if (data.occupancy_map[i] === 1) {\n                    const ix = i % size;\n                    const iy = Math.floor(i / size);\n                    // Map grid index to canvas coords\n                    // Grid starts at -R, -R (top-left relative to arena box)\n                    const x = (ix * cellSize) + (CENTER - 100 * 0.2 * SCALE);\n                    const y = (iy * cellSize) + (CENTER - 100 * 0.2 * SCALE);\n                    ctx.fillRect(x, y, cellSize, cellSize);\n                }\n            }\n        }\n\n        // Update and Draw Trajectory\n        trajectory.push({x: data.x, y: data.y});\n        if (trajectory.length > MAX_TRAJ) trajectory.shift();\n        \n        ctx.beginPath();\n        ctx.strokeStyle = 'rgba(0, 0, 255, 0.3)';\n        ctx.lineWidth = 2;\n        if (trajectory.length > 0) {\n            const startX = CENTER + trajectory[0].x * SCALE;\n            const startY = CENTER - trajectory[0].y * SCALE; // Invert Y for canvas\n            ctx.moveTo(startX, startY);\n            for (let i = 1; i < trajectory.length; i++) {\n                const px = CENTER + trajectory[i].x * SCALE;\n                const py = CENTER - trajectory[i].y * SCALE;\n                ctx.lineTo(px, py);\n            }\n        }\n        ctx.stroke();\n\n        // Draw Dirt\n        if (data.dirt_positions) {\n            ctx.fillStyle = '#e6b800'; // Gold/Dirt color\n            data.dirt_positions.forEach(d => {\n                const dx = CENTER + d[0] * SCALE;\n                const dy = CENTER - d[1] * SCALE;\n                ctx.beginPath();\n                ctx.arc(dx, dy, 3, 0, 2 * Math.PI);\n                ctx.fill();\n            });\n        }\n\n        // Draw Robot\n        const rx = CENTER + data.x * SCALE;\n        const ry = CENTER - data.y * SCALE;\n        \n        ctx.save();\n        ctx.translate(rx, ry);\n        ctx.rotate(-data.heading); // Canvas rotation is clockwise, heading is usually CCW or check coord sys\n        // Draw Robot Body\n        ctx.fillStyle = '#007acc';\n        ctx.beginPath();\n        ctx.arc(0, 0, ROBOT_SIZE, 0, 2 * Math.PI);\n        ctx.fill();\n        // Draw Heading Indicator\n        ctx.strokeStyle = '#fff';\n        ctx.lineWidth = 2;\n        ctx.beginPath();\n        ctx.moveTo(0, 0);\n        ctx.lineTo(0, -ROBOT_SIZE); // Pointing 'up' in local coords\n        ctx.stroke();\n        ctx.restore();\n\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d4e5f6a7.b8c9",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Velocidade Linear",
        "group": "f2a3b4c5.d6e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidade Linear (m/s)",
        "label": "m/s",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "1.5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "e5f6a7b8.c9d0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Extrair V_Linear",
        "func": "msg.payload = msg.payload.v_linear;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "d4e5f6a7.b8c9"
            ]
        ]
    },
    {
        "id": "f6a7b8c9.d0e1",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Sujeira Restante",
        "group": "f2a3b4c5.d6e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Sujeira Restante",
        "label": "unid.",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "a7b8c9d0.e1f2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Extrair Sujeira",
        "func": "msg.payload = msg.payload.dirt_remaining;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "f6a7b8c9.d0e1"
            ]
        ]
    },
    {
        "id": "b8c9d0e1.f2a3",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "f2a3b4c5.d6e7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Status do Robô:",
        "format": "{{msg.payload.status_msg}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "c9d0e1f2.a3b4",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Colisões e Energia",
        "group": "a3b4c5d6.e7f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Energia Acumulada (Proxy)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d0e1f2a3.b4c5",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "b4c5d6e7.f8a9",
        "name": "Relatório Final",
        "order": 1,
        "width": 12,
        "height": 8,
        "format": "<h3>Relatório de Simulação</h3>\n<table style=\"width:100%; text-align:left; border-collapse: collapse;\">\n  <tr style=\"border-bottom: 1px solid #ddd;\">\n    <th>Métrica</th>\n    <th>Valor</th>\n  </tr>\n  <tr>\n    <td>Total Gerado</td>\n    <td>{{msg.payload.summary.total_generated}}</td>\n  </tr>\n  <tr>\n    <td>Total Limpo</td>\n    <td>{{msg.payload.summary.total_cleaned}}</td>\n  </tr>\n  <tr>\n    <td>Percentual de Limpeza</td>\n    <td>{{msg.payload.summary.percent_cleaned | number:1}}%</td>\n  </tr>\n  <tr>\n    <td>Eficiência Temporal (s/limpeza)</td>\n    <td>{{msg.payload.summary.efficiency_time_mean | number:2}} s</td>\n  </tr>\n  <tr>\n    <td>Eficiência Deslocamento (m/limpeza)</td>\n    <td>{{msg.payload.summary.efficiency_distance_per_clean | number:2}} m</td>\n  </tr>\n  <tr>\n    <td>Colisões</td>\n    <td>{{msg.payload.summary.collisions}}</td>\n  </tr>\n  <tr>\n    <td>Quase-Colisões</td>\n    <td>{{msg.payload.summary.near_misses}}</td>\n  </tr>\n  <tr>\n    <td>Energia Total (Proxy)</td>\n    <td>{{msg.payload.summary.energy_proxy_total | number:1}}</td>\n  </tr>\n</table>\n\n<div ng-if=\"msg.payload.summary.note == 'deadline_reached'\" style=\"color: red; margin-top: 10px;\">\n    <strong>Atenção:</strong> Simulação encerrada por limite de tempo (Deadline).\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e1f2a3b4.c5d6",
        "type": "ui_group",
        "z": "f6f2187d.f17ca8",
        "name": "Mapa em Tempo Real",
        "tab": "c5d6e7f8.a9b0",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f2a3b4c5.d6e7",
        "type": "ui_group",
        "z": "f6f2187d.f17ca8",
        "name": "Indicadores",
        "tab": "c5d6e7f8.a9b0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a3b4c5d6.e7f8",
        "type": "ui_group",
        "z": "f6f2187d.f17ca8",
        "name": "Gráficos",
        "tab": "c5d6e7f8.a9b0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b4c5d6e7.f8a9",
        "type": "ui_group",
        "z": "f6f2187d.f17ca8",
        "name": "Sumário Pós-Simulação",
        "tab": "c5d6e7f8.a9b0",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c5d6e7f8.a9b0",
        "type": "ui_tab",
        "z": "f6f2187d.f17ca8",
        "name": "Dashboard Robô",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
